:root {
  --dark: hsl(255, 11%, 22%);
  --gray: hsl(0, 0%, 75%);
  --cyan: hsl(180, 66%, 49%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Poppins, sans-serif;

  overflow: scroll;
}

header {
  display: flex;

  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

header figure {
  margin: 0;
  height: max-content;
}

#menu {
  display: none;
}

header a {
  text-decoration: none;
  margin: 0 10px;

  color: var(--dark);
}

main {
  display: flex;
  justify-content: space-around;

  margin-top: 50px;
  margin-bottom: 50px;
}

section {
  padding: 0 10px;
}

section img {
  margin: auto;

  width: 80%;
  display: block;
}

footer {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 100px;

  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: flex-end;

  background-color: var(--dark);
}

footer img {
  filter: brightness(10);

  position: absolute;

  left: 100px;
}

footer a {
  text-decoration: none;

  color: var(--gray);
  transition: color 0.3s;
}

footer a:hover {
  color: var(--cyan);
}

footer h4 {
  color: #fff;
}

footer nav {
  display: grid;
}

div {
  margin: 0 25px;
}

#get-started {
  background-color: var(--cyan);
  border: none;
  border-radius: 40px;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  color: #fff;
  padding: 10px 25px;

  font-size: 16px;

  cursor: pointer;
}

@media (max-width: 920px) {
  main {
    display: grid;
    justify-content: center;
  }

  footer {
    display: grid;
    justify-content: center;
    padding: 20px 0;

    position: relative;
  }

  footer img {
    position: unset;
  }

  footer figure {
    display: flex;
    justify-content: center;

    margin: 0;
  }

  header {
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }

  header nav {
    display: none;
  }

  #menu {
    display: block;
    float: right;
  }

  section {
    padding: 0 20px;

    text-align: center;
    margin-bottom: 30px;
  }
}
